<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>已接订单</title>

	<link rel="stylesheet" href="../../css/background/amazeui.css" />
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="../../css/background/core.css" />
	<link rel="stylesheet" href="../../css/background/menu.css" />
	<link rel="stylesheet" href="../../css/background/index.css" />
	<link rel="stylesheet" href="../../css/background/admin.css" />
	<link rel="stylesheet" href=".../../css/background/page/typography.css" />
</head>
<body>

	<script type="text/javascript">
		//“完成”按钮功能函数
		function Finish(){
			//接收传递过来订单ID
			//var orderID=传递参数
			//ajax传递参数到后台啊，改变订单状态
			alert("操作成功！");
			window.location.reload();
		}
	
		//“中止”按钮功能函数
		function Stop(){
			//接收传递过来订单ID
			//var orderID=传递参数
			//ajax传递参数到后台啊，改变订单状态
			alert("操作成功！");
			window.location.reload();
		}
		

		//"订单详情"超链接处理函数
		function Go(){
			//接收传递过来的订单序号
			//var oderID=传递参数
			//ajax传递参数到后台
			alert("操作成功！");
			window.location.href="Oders.html";//+"?"+orderID;
		}
	</script>

	<!-- Begin page -->
		<header class="am-topbar am-topbar-fixed-top">		
			<div class="am-topbar-left am-hide-sm-only">
                <a href="../../background.html" class="logo"><span>管理员</span><i class="zmdi zmdi-layers"></i></a>
            </div>
	
			<div class="contain">
				<ul class="am-nav am-navbar-nav am-navbar-left">
					<li><h4 class="page-title">已接订单</h4></li>
				</ul>
			</div>
		</header>
		<!-- end page -->
		
		
		<div class="admin">
			<!--<div class="am-g">-->
		<!-- ========== Left Sidebar Start ========== -->
		<!--<div class="left side-menu am-hide-sm-only am-u-md-1 am-padding-0">
			<div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 548px;">
				<div class="sidebar-inner slimscrollleft" style="overflow: hidden; width: auto; height: 548px;">-->
                  <!-- sidebar start -->
				  <div class="admin-sidebar am-offcanvas  am-padding-0" id="admin-offcanvas">
				    <div class="am-offcanvas-bar admin-offcanvas-bar">
				    	<!-- User -->
						<div class="user-box am-hide-sm-only">
	                        <div class="user-img">
	                            <img src="../../img/background/avatar-1.jpg" alt="user-img" title="Mat Helme" class="img-circle img-thumbnail img-responsive">
	                            <div class="user-status offline"><i class="am-icon-dot-circle-o" aria-hidden="true"></i></div>
	                        </div>
	                        <h5><a href="#">用户名</a> </h5>
	                        <ul class="list-inline">
	                            <li>
	                                <a href="#">
	                                    <i class="fa fa-cog" aria-hidden="true"></i>
	                                </a>
	                            </li>
	
	                            <li>
	                                <a href="#" class="text-custom">
	                                    <i class="fa fa-cog" aria-hidden="true"></i>
	                                </a>
	                            </li>
	                        </ul>
	                    </div>
	                    <!-- End User -->
	            
						 <ul class="am-list admin-sidebar-list">
						    <li class="admin-parent">
						      <a class="am-cf" data-am-collapse="{target: '#collapse-nav1'}"><span class="am-icon-table"></span> 菜品信息 <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
						      <ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav1">
						        <li><a href="Windows_1.html" class="am-cf"> 窗口一</a></li>
						        <li><a href="Windows_2.html"> 窗口二</a></li>
						      </ul>
						    </li>
						    <li class="admin-parent">
						      <a class="am-cf" data-am-collapse="{target: '#collapse-nav2'}"><i class="am-icon-line-chart" aria-hidden="true"></i> 订单信息 <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
						      <ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav2">
						        <li><a href="Open_orders.html" class="am-cf"> 未接订单</a></li>
						        <li><a href="Recevied_order.html" class="am-cf"> 已接订单</a></li>
						      </ul>
						    </li>
						  </ul>
				</div>
				  </div>
				  <!-- sidebar end -->
		<!-- ========== Left Sidebar end ========== -->
		<!-- Start right Content here -->
		<div class="content-page">
			<!-- Start content -->
			<div class="content">
				<div class="card-box">
					<!-- Row start -->
					<div class="am-g">
						<div class="am-u-sm-12 am-u-md-6">
				          <div class="am-btn-toolbar">
				            <div class="am-btn-group am-btn-group-xs">
				            </div>
				          </div>
				        </div>
				    </div>
					<!-- Row end -->
					<!-- Row start --><!-- 遍历输出已接订单数据 -->
					<div class="am-g">
        				<div class="am-u-sm-12">
          					<form class="am-form">
            					<table class="am-table am-table-striped am-table-hover table-main">
              						<thead>
              						<tr>
                						<th class="table-title">订单号</th>
                						<th class="table-type">订餐用户</th>
                						<th class="table-author am-hide-sm-only">订单内容</th>
                						<th class="table-date am-hide-sm-only">下单时间</th>
                						<th class="table-status">订单状态</th>
                						<th class="table-set">操作</th>
              						</tr>
              						</thead>
              						<tbody>
              						<!-- 以下内容依照未接订单数据情况输出 -->
              						<tr>
                						<td>No.1</td>
                						<td>杨博</td>
                						<td><a href="javaScript:Go()">订单详情</a></td><!-- 这里可以按你的处理决定，订单内容可以点击这个订单详情弹出小窗查看，也可以直接显示 -->
                						<td class="am-hide-sm-only">2017年5月31日 7:28:47</td>
                						<td class="status">正在送餐</td>
                						<td>
                  							<div class="am-btn-toolbar">
                    							<div class="am-btn-group am-btn-group-xs">
                      								<button class="am-btn am-btn-default am-btn-xs am-hide-sm-only" onclick="Finish()"><span class="am-icon-step-forward"></span> 完成</button>
                      								<button class="am-btn am-btn-default am-btn-xs am-hide-sm-only" onclick="Stop()"><span class="am-icon-remove"></span> 中止</button>
                    							</div>
                  							</div>
                						</td>
              						</tr>
              						<tr>
                						<td>No.2</td>
                						<td>张佳杰</td>
                						<td><a href="#">订单详情</a></td>
                						<td class="am-hide-sm-only">2017年5月31日 7:28:47</td>
                						<td class="status">已完成</td>
                						<td>
                  							<div class="am-btn-toolbar">
                    							<div class="am-btn-group am-btn-group-xs">
                      								<button class="am-btn am-btn-default am-btn-xs am-hide-sm-only"><span class="am-icon-step-forward"></span> 完成</button>
                      								<button class="am-btn am-btn-default am-btn-xs am-hide-sm-only"><span class="am-icon-remove"></span> 中止</button>
                    							</div>
                  							</div>
                						</td>
              						</tr>
              						</tbody>
            					</table>
          			</form>
       	 			</div>
       	 			</div>
					<!-- Row end -->
			    </div>
			</div>
		</div>
		</div>
		
		<script type="text/javascript" src="../../js/background/jquery-2.1.0.js" ></script>
		<script type="text/javascript" src="../../js/background/amazeui.min.js"></script>
		<script type="text/javascript" src="../../js/background/app.js" ></script>
		<script type="text/javascript" src="../../js/background/blockUI.js" ></script>
		<script type="text/javascript" src="../../js/background/charts/echarts.min.js" ></script>
		<script type="text/javascript" src="../../js/background/charts/columnarChart.js" ></script>

</body>
</html>